/* Style */

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html {
	background-color: #f0f3f4;
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.inline {
	display: inline-block !important;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.container-fluid {
	padding: 0;
}

.fixed {
	position: fixed;
}

.pads {
	padding-left: 15px;
	padding-right: 15px;
}

.main {
	margin-top: 50px;
}

.rounded {
	border-radius: 500px;
}

input.form-control {
	border: none !important;
	box-shadow: none !important;
}

//* Topbar Navigation */
.navbar {
	position: fixed;
	border-radius: 0;
}

.navbar-header {
	padding: 0;
	width: 200px;
	border-right: 1px #efefef solid;
}

.navbar-brand {
	display: inline-block;
	float: none;
	height: auto;
	padding: 0 20px;
	font-size: 20px;
	font-weight: 700;
	line-height: 50px;
	text-align: center;
}
/* Aside Menubar Navigation */

.menubar {
	position: fixed;
	top: 50px;
	left: 0;
	bottom: 0;
	z-index: 500;
	overflow: hidden;
	background-color: #324568;
}

.menubar .navi-wrap {
	position: relative;
	height: 100%;
	width: 217px;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.navi ul.nav li {
	position: relative;
	display: block;
}

.navi ul.nav li a {
	position: relative;
	display: block;
	color: #a8a9a9;
	padding: 10px 20px;
	font-weight: normal;
	text-transform: none;
	transition: background-color .2s ease-in-out 0s;
	-webkit-transition: background-color .2s ease-in-out 0s;
}

.navi ul.nav li a:hover,
.navi ul.nav li a:focus {
	color: #fff;
	background-color: #102346;
}

.navi ul.nav li a>i {
	position: relative;
	float: left;
	width: 40px;
	margin: -10px -10px;
	margin-right: 5px;
	overflow: hidden;
	line-height: 40px;
	text-align: center;
}

.nav-sub {
	height: 0;
	margin-left: -20px;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all .2s ease-in-out 0s;
	transition: all .2s ease-in-out 0s;
}

.active>.nav-sub,
.app-aside-folded li:hover>.nav-sub,
.app-aside-folded li:focus>.nav-sub,
.app-aside-folded li:active>.nav-sub {
	height: auto!important;
	margin-left: 0;
	overflow: auto;
	opacity: 1;
}

.app-aside-folded .app-aside-footer {
	max-width: 60px
}

.visible-folded {
	display: none
}

.app-aside-folded .hidden-folded {
	display: none!important
}

.app-aside-folded .visible-folded {
	display: inherit
}

.app-aside-folded .text-center-folded {
	text-align: center
}

.app-aside-folded .pull-none-folded {
	float: none!important
}

.app-aside-folded .w-auto-folded {
	width: auto
}

.app-aside-folded .app-aside,
.app-aside-folded .navbar-header {
	width: 60px
}

.app-aside-folded .navbar-collapse,
.app-aside-folded .app-content,
.app-aside-folded .app-footer {
	margin-left: 60px
}

.app-aside-folded .app-header .navbar-brand {
	display: block;
	padding: 0
}

.nav-sub-header {
	display: none!important;
}

.app-aside-fixed.app-aside-folded .app-aside {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 1010
}

.app-aside-fixed.app-aside-folded .aside-wrap {
	width: 59px
}

.app-aside-fixed.app-aside-folded .aside-wrap .navi-wrap {
	width: 77px
}

.app-aside-fixed.app-aside-folded .aside-wrap .navi-wrap>* {
	width: 60px
}
/* Dashboard */

.content {
	margin-left: 200px;
	width: 100%;
}

.full-wd {
	width: 100% !important;
}

.col {
	display: table-cell;
	float: none;
	height: 100%;
	vertical-align: top;
}

.wrapper-dash {
	padding: 20px
}
/* Colors */

.bg-light {
	background-color: #eee;
}
/* Charts */

.inv-chart div {
	font: 2px sans-serif;
	background-color: steelblue;
	text-align: center;
	padding: 1px;
	margin: 1px;
	color: white;
}
/* margins */

.mgn-none {
	margin: 0 !important;
}

.mgn-xxs {
	margin: 2px;
}

.mgn-xs {
	margin: 5px;
}

.mgn-sm {
	margin: 10px;
}

.mgn-md {
	margin: 15px;
}

.mgn-lg {
	margin: 20px;
}

.mgn-xl {
	margin: 30px;
}

.mgn-xxl {
	margin: 50px;
}

.mgn-lft-none {
	margin-left: 0 !important;
}

.mgn-lft-xs {
	margin-left: 5px;
}

.mgn-lft-sm {
	margin-left: 10px;
}

.mgn-lft {
	margin-left: 15px;
}

.mgn-lft-md {
	margin-left: 20px;
}

.mgn-lft-lg {
	margin-left: 30px;
}

.mgn-lft-xl {
	margin-left: 40px;
}

.mgn-lft-xxl {
	margin-left: 50px;
}

.mgn-lft-neg-xxs {
	margin-left: -1px;
}

.mgn-lft-neg-xs {
	margin-left: -5px;
}

.mgn-lft-neg-sm {
	margin-left: -10px;
}

.mgn-lft-neg {
	margin-left: -15px;
}

.mgn-lft-neg-md {
	margin-left: -20px;
}

.mgn-lft-neg-lg {
	margin-left: -30px;
}

.mgn-lft-neg-xl {
	margin-left: -40px;
}

.mgn-lft-neg-xxl {
	margin-left: -50px;
}

.mgn-top-none {
	margin-top: 0 1important;
}

.mgn-top-xxs {
	margin-top: 1px;
}

.mgn-top-xs {
	margin-top: 5px;
}

.mgn-top-sm {
	margin-top: 10px;
}

.mgn-top {
	margin-top: 15px;
}

.mgn-top-md {
	margin-top: 20px;
}

.mgn-top-lg {
	margin-top: 30px;
}

.mgn-top-xl {
	margin-top: 40px;
}

.mgn-top-xxl {
	margin-top: 50px;
}

.mgn-top-neg-xxs {
	margin-top: -1px;
}

.mgn-top-neg-xs {
	margin-top: -5px;
}

.mgn-top-neg-sm {
	margin-top: -10px;
}

.mgn-top-neg {
	margin-top: -15px;
}

.mgn-top-neg-md {
	margin-top: -20px;
}

.mgn-top-neg-lg {
	margin-top: -30px;
}

.mgn-top-neg-xl {
	margin-top: -40px;
}

.mgn-top-neg-xxl {
	margin-top: -50px;
}

.mgn-rgt-none {
	margin-right: 0 !important;
}

.mgn-rgt-xs {
	margin-right: 5px;
}

.mgn-rgt-sm {
	margin-right: 10px;
}

.mgn-rgt {
	margin-right: 15px;
}

.mgn-rgt-md {
	margin-right: 20px;
}

.mgn-rgt-lg {
	margin-right: 30px;
}

.mgn-rgt-xl {
	margin-right: 40px;
}

.mgn-rgt-xxl {
	margin-right: 50px;
}

.mgn-rgt-neg-xxs {
	margin-right: -1px;
}

.mgn-rgt-neg-xs {
	margin-right: -5px;
}

.mgn-rgt-neg-sm {
	margin-right: -10px;
}

.mgn-rgt-neg {
	margin-right: -15px;
}

.mgn-rgt-neg-md {
	margin-right: -20px;
}

.mgn-rgt-neg-lg {
	margin-right: -30px;
}

.mgn-rgt-neg-xl {
	margin-right: -40px;
}

.mgn-rgt-neg-xxl {
	margin-right: -50px;
}

.mgn-btm-none {
	margin-bottom: 0 1important;
}

.mgn-btm-xxs {
	margin-bottom: 1px;
}

.mgn-btm-xs {
	margin-bottom: 5px;
}

.mgn-btm-sm {
	margin-bottom: 10px;
}

.mgn-btm {
	margin-bottom: 15px;
}

.mgn-btm-md {
	margin-bottom: 20px;
}

.mgn-btm-lg {
	margin-bottom: 30px;
}

.mgn-btm-xl {
	margin-bottom: 40px;
}

.mgn-btm-xxl {
	margin-bottom: 50px;
}

.mgn-btm-neg-xxs {
	margin-bottom: -1px;
}

.mgn-btm-neg-xs {
	margin-bottom: -5px;
}

.mgn-btm-neg-sm {
	margin-bottom: -10px;
}

.mgn-btm-neg {
	margin-bottom: -15px;
}

.mgn-btm-neg-md {
	margin-bottom: -20px;
}

.mgn-btm-neg-lg {
	margin-bottom: -30px;
}

.mgn-btm-neg-xl {
	margin-bottom: -40px;
}

.mgn-btm-neg-xxl {
	margin-bottom: -50px;
}
/* Text/Font */

a {
	color: #363f44;
}

a:hove {
	color: #141719;
}

.text-active,
.active>.text,
.active>.auto .text {
	display: none !important;
}
/* badges */

.badge-sm {
	padding: 2px 5px!important;
	font-size: 85%;
}

.badge.up {
	position: relative;
	top: -10px;
	padding: 3px 6px;
	margin-left: -10px;
}

.visible-folded {
	display: none
}

.app-aside-folded .hidden-folded {
	display: none!important
}

.app-aside-folded .visible-folded {
	display: inherit
}

.app-aside-folded .text-center-folded {
	text-align: center
}

.app-aside-folded .pull-none-folded {
	float: none!important
}

.app-aside-folded .w-auto-folded {
	width: auto
}

.app-aside-folded .app-aside,
.app-aside-folded .navbar-header {
	width: 60px
}

.app-aside-folded .navbar-collapse,
.app-aside-folded .app-content,
.app-aside-folded .app-footer {
	margin-left: 60px
}

.app-aside-folded .app-header .navbar-brand {
	display: block;
	padding: 0
}

.off-screen {
	position: absolute;
	top: 50px;
	bottom: 0;
	z-index: 1010;
	display: block!important;
	width: 75%;
	overflow-x: hidden;
	overflow-y: auto;
	visibility: visible;
	-webkit-overflow-scrolling: touch
}

.off-screen+* {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1015;
	width: 100%;
	padding-top: 50px;
	overflow: hidden;
	background-color: #f0f3f4;
	-webkit-transform: translate3d(75%, 0, 0);
	transform: translate3d(75%, 0, 0);
	-webkit-transition: -webkit-transform .2s ease;
	-moz-transition: -moz-transform .2s ease;
	-o-transition: -o-transform .2s ease;
	transition: transform .2s ease;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden
}

.off-screen+* .off-screen-toggle {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1020;
	display: block!important
}
/* Dropdowns */

.pos-stc {
	position: static!important;
}

.dropdown-menu {
	border: 1px solid #dee5e7;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0px;
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu.full-wd {
	margin-left: 200px;
}

.open>.dropdown-menu {
	display: block;
}
/* Wrapper */

.wrapper-xs {
	padding: 5px;
}

.wrapper-sm {
	padding: 10px;
}

.wrapper {
	padding: 15px;
}

.wrapper-md {
	padding: 20px
}

.wrapper-lg {
	padding: 30px;
}

.wrapper-xl {
	padding: 40px;
}

.wrapper-xxl {
	padding: 50px;
}
/* Borders */

.b {
	border: 1px solid rgba(0, 0, 0, 0.05)
}

.b-a {
	border: 1px solid #dee5e7
}

.b-t {
	border-top: 1px solid #dee5e7
}

.b-r {
	border-right: 1px solid #dee5e7
}

.b-b {
	border-bottom: 1px solid #dee5e7
}

.b-l {
	border-left: 1px solid #dee5e7
}

.b-light {
	border-color: #edf1f2
}

.b-dark {
	border-color: #3a3f51
}

.b-black {
	border-color: #3a3f51
}

.b-primary {
	border-color: #7266ba
}

.b-success {
	border-color: #27c24c
}

.b-info {
	border-color: #23b7e5
}

.b-warning {
	border-color: #fad733
}

.b-danger {
	border-color: #f05050
}

.b-white {
	border-color: #fff
}

.b-dashed {
	border-style: dashed!important
}

.b-l-light {
	border-left-color: #edf1f2
}

.b-l-dark {
	border-left-color: #3a3f51
}

.b-l-black {
	border-left-color: #3a3f51
}

.b-l-primary {
	border-left-color: #7266ba
}

.b-l-success {
	border-left-color: #27c24c
}

.b-l-info {
	border-left-color: #23b7e5
}

.b-l-warning {
	border-left-color: #fad733
}

.b-l-danger {
	border-left-color: #f05050
}

.b-l-white {
	border-left-color: #fff
}

.b-l-2x {
	border-left-width: 2px
}

.b-l-3x {
	border-left-width: 3px
}

.b-l-4x {
	border-left-width: 4px
}

.b-l-5x {
	border-left-width: 5px
}

.b-2x {
	border-width: 2px
}

.b-3x {
	border-width: 3px
}

.b-4x {
	border-width: 4px
}

.b-5x {
	border-width: 5px
}