<div class="hbox hbox-auto-xs hbox-auto-sm">
	<div class="col">
		<div ng-include="'/tplt/page-header.html'"></div>
		<div class="wrapper-md">

			<form class="form-horizontal" name="createClient" ng-controller="CreateClientController" ng-submit="submitClient()" novalidate>

				<div class="panel hbox hbox-auto-xs no-border">

				<div class="col wrapper">
					<h4 class="font-thin mgn-top-none mgn-btm-none text-primary">Add New Client</h4>
          <span class="mgn-btm block text-sm text-muted">Please fill out this form completely.</span>
					<div>

						<div class="form-group">
							<label for="name" class="col-sm-2 control-label">Name</label>
							<div class="col-sm-10">
								<input id="name" type="text" class="form-control" ng-model="form.name">
							</div>
						</div>

						<div class="form-group">
							<label for="add1" class="col-sm-2 control-label">Address 1</label>
							<div class="col-sm-10">
								<input id="add1" type="text" class="form-control" ng-model="form.address">
							</div>
						</div>

						<div class="form-group">
							<label for="add2" class="col-sm-2 control-label">Address 2</label>
							<div class="col-sm-10">
								<input id="add2" type="text" class="form-control" ng-model="form.addressAddtl" placeholder="(Optional)">
							</div>
						</div>

						<div class="form-group">
							<label for="bphone" class="col-sm-2 control-label">Business Phone</label>
							<div class="col-sm-10">
								<input id="bphone" type="text" class="form-control" ng-model="form.bizPhone">
							</div>
						</div>

						<div class="form-group">
							<label for="cname" class="col-sm-2 control-label">Contact Name</label>
							<div class="col-sm-10">
								<input id="cname" type="text" class="form-control" ng-model="form.conName">
							</div>
						</div>

						<div class="form-group">
							<label for="cphone" class="col-sm-2 control-label">Contact Phone</label>
							<div class="col-sm-10">
								<input id="cphone" type="text" class="form-control" ng-model="form.conPhone">
							</div>
						</div>

						<div class="form-group">
							<label for="cemail" class="col-sm-2 control-label">Contact Email</label>
							<div class="col-sm-10">
								<input id="cemail" type="email" class="form-control" ng-model="form.conEmail">
							</div>
						</div>

						<div class="form-group">
							<label for="pmethod" class="col-sm-2 control-label">Payment Method</label>
							<div class="col-sm-10">
								<select id="pmethod" class="form-control" ng-model="form.payMethod">
									<option value="" disabled selected>Select a payment method....</option>
									<option value="prepay">Prepay</option>
									<option value="contract">Contract</option>
									<option value="bill">Bill</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label for="pcycle" class="col-sm-2 control-label">Payment Cycle</label>
							<div class="col-sm-10">
								<select id="pcycle" class="form-control" ng-model="form.payCycle">
									<option value="" disabled selected>Select a payment cycle....</option>
									<option value="daily">Daily</option>
									<option value="weekly">Weekly</option>
									<option value="monthly">Monthly</option>
									<option value="quarterly">Quarterly</option>
									<option value="bi-annually">Bi-Annually</option>
									<option value="annually">Annually</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label for="pcap" class="col-sm-2 control-label">Payment Cap</label>
							<div class="col-sm-10">
								<select id="pcap" class="form-control" ng-model="form.payCap">
									<option value="" disabled selected>Select Payment Cap....</option>
									<option value="prepay">PrePay</option>
									<option value="contract">Contract</option>
									<option value="bill">Bill</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label for="ptype" class="col-sm-2 control-label">
								Payment Cap Type
							</label>
							<div class="col-sm-10">
								<select id="ptype" class="form-control" ng-model="form.payCapType">
									<option value="" disabled selected>Select Cap Type....</option>
									<option value="hard">Do not process if over cap.</option>
									<option value="soft">Allow to process if over cap.</option>
								</select>
							</div>
						</div>

						<div class="col-sm-offset-2">
							<button class="btn btn-success mgn-lft-xs" type="submit">Submit</button>
						</div>

					</div>
				</div>
			</div>

			</form>

		</div>
	</div>
</div>
