<div class="hbox hbox-auto-xs hbox-auto-sm">
	<div class="col">
		<div ng-include="'/tplt/page-header.html'"></div>
		<div class="wrapper-md">
			<div class="panel hbox hbox-auto-xs no-border">

				<h4 class="mgn-lft text-primary">Client list</h4>
				<table class="table table-bordered table-hover table-condensed bg-white-only">
					<tr style="font-weight: bold">
						<td>Name</td>
						<td>Business Phone</td>
						<td>Contact Name</td>
						<td>Contact Phone</td>
						<td>Contact Email</td>
						<td>Payment Cycle</td>
						<td>Options</td>
					</tr>
					<tr ng-repeat="client in clients">
						<td class="v-middle">
							<!-- editable client name (text with validation) -->
							<span editable-text="client.name" e-name="name" e-form="rowform" onbeforesave="checkName($data, client.id)" e-required>
								{{ client.name || 'empty' }}
							</span>
						</td>
						<td class="v-middle">
							<!-- editable client name (text with validation) -->
							<span editable-text="client.bizPhone" e-name="bizPhone" e-form="rowform" onbeforesave="checkBizPhone($data, client.id)" e-required>
								{{ client.bizPhone || 'empty' }}
							</span>
						</td>
						<td class="v-middle">
							<!-- editable client name (text with validation) -->
							<span editable-text="client.conName" e-name="conName" e-form="rowform" onbeforesave="checkConName($data, client.id)" e-required>
								{{ client.conName || 'empty' }}
							</span>
						</td>
						<td class="v-middle">
							<!-- editable client name (text with validation) -->
							<span editable-text="client.conPhone" e-name="conPhone" e-form="rowform" onbeforesave="checkConPhone($data, client.id)" e-required>
								{{ client.conPhone || 'empty' }}
							</span>
						</td>
						<td class="v-middle">
							<!-- editable client name (text with validation) -->
							<span editable-text="client.conEmail" e-name="conEmail" e-form="rowform" onbeforesave="checkConEmail($data, client._id)" e-required>
								{{ client.conEmail || 'empty' }}
							</span>
						</td>
						<td class="v-middle">
							<!-- editable client name (text with validation) -->
							<span editable-text="client.payCycle" e-name="payCycle" e-form="rowform" onbeforesave="checkPayCycle($data, client._id)" e-required>
								{{ client.payCycle || 'empty' }}
							</span>
						</td>
						<td style="white-space: nowrap">
							<!-- form -->
							<form editable-form name="rowform" onbeforesave="saveClient($data, client.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == client">
								<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-info">
									<i class="glyphicon glyphicon-ok"></i>
								</button>
								<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm btn-default">
									<i class="glyphicon glyphicon-remove"></i>
								</button>
							</form>
							<div class="buttons" ng-show="!rowform.$visible">
								<button class="btn btn-sm btn-info" ng-click="rowform.$show()">
									<i class="glyphicon glyphicon-pencil"></i>
								</button>
								<button class="btn btn-sm btn-danger" ng-click="removeClient($index, { id: client._id })">
									<i class="glyphicon glyphicon-minus"></i>
								</button>
							</div>
						</td>
					</tr>
				</table>

			</div>
		</div>
	</div>
</div>
