<div class="hbox hbox-auto-xs hbox-auto-sm">
	<div class="col">
		<div ng-include="'/tplt/page-header.html'"></div>
		<div class="wrapper-md">
			<div class="panel hbox hbox-auto-xs no-border">

				<table class="table table-striped">
					<thead>
						<tr>
							<td>Name</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="client in clients">
							<td>{{ client.name || 'empty' }}</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>
