<div class="hbox hbox-auto-xs hbox-auto-sm">
	<div class="col">
		<div ng-include="'/tplt/page-header.html'"></div>
		<div class="wrapper-md">
			<div class="panel hbox hbox-auto-xs no-border">

				<h4 class="mgn-lft text-primary">Search List</h4>
				<table class="table table-bordered table-hover table-condensed bg-white-only">
					<thead>
						<tr style="font-weight: bold">
							<td>Module</td>
							<td>Boards</td>
							<td>Keywords</td>
							<td>Frequency</td>
							<td>Hashtags</td>
							<td>Url</td>
							<td>External Links</td>
							<td>Internal Links</td>
							<td>Options</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="search in searches">
							<td class="v-middle">
								<span editable-text="search.module" e-name="module" e-form="rowForm" e-required>
									{{ search.module || 'empty' }}
								</span>
							</td>
							<td class="v-middle">
								<span editable-select="search.boards" e-name="boards" onshow="loadBoards()" e-form="rowForm">
									{{ search.boards || 'empty' }}
								</span>
							</td>
							<td class="v-middle">
								<span editable-text="search.keywords" e-name="keywords" e-form="rowForm">
									{{ search.keywords || 'empty' }}
								</span>
							</td>
							<td class="v-middle">
								<span editable-select="search.frequency" e-name="frequency" onshow="loadFrequency()" e-form="rowForm">
									{{ search.frequency || 'empty' }}
								</span>
							</td>
							<td class="v-middle">
								<span editable-text="search.hashtags" e-name="hashtags" e-form="rowForm">
									{{ search.hashtags || 'empty' }}
								</span>
							</td>
							<td class="v-middle">
								<span editable-text="search.url" e-name="url" e-form="rowForm">
									{{ (search.url || 'empty') | limitTo:8 }}
								</span>
							</td>
							<td class="v-middle">
								<span editable-number="search.external" e-name="external" e-form="rowForm">
									{{ search.external || 'empty' }}
								</span>
							</td>
							<td class="v-middle">
								<span editable-number="search.internal" e-name="internal" e-form="rowForm">
									{{ search.internal || 'empty' }}
								</span>
							</td>
							<td class="v-middle">
								<form editable-form name="rowForm" onbeforsave="saveUser($data, search.id)" ng-show="rowForm.$visible" class="form-buttons form-inline" shown="inserted == search">
									<button type="submit" ng-disabled="rowForm.$waiting" class="btn btn-sm btn-success">
										<i class="glyphicon glyphicon-ok"></i>
									</button>
									<button type="button" ng-disabled="rowForm.$waiting" ng-click="rowForm.$cancel()" class="btn btn-sm btn-default">
										<i class="glyphicon glyphicon-remove"></i>
									</button>
								</form>
								<div class="buttons" ng-show="!rowForm.$visible">
									<button class="btn btn-sm btn-info" ng-click="rowForm.$show()">
										<i class="glyphicon glyphicon-pencil"></i>
									</button>
									<button class="btn btn-sm btn-danger" ng-click="removeSearch($index)">
										<i class="glyphicon glyphicon-minus"></i>
									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>
