<div class="hbox hbox-auto-xs hbox-auto-sm">
	<div class="col">
		<div ng-include="'/tplt/page-header.html'"></div>
		<div class="wrapper-md">
			<div class="panel hbox hbox-auto-xs no-border">

				<h4 class="mgn-lft text-primary">Search Request List</h4>
				<table class="table table-bordered table-hover table-condensed bg-white-only">
				</table>

			</div>
		</div>
	</div>
</div>
