<div class="hbox hbox-auto-xs hbox-auto-sm">
	
  <!-- Campaigns -->
  <div class="col">

		<div data-ng-include="'/tplt/page-header.html'"></div>
  
		<div class="wrapper-md">

			<!-- Current Campaigns -->
      <div class="panel hbox hbox-auto-xs no-border" ng-controller="CurrentCampaignsController">
        <div class="col wrapper">
          <h4 class="font-thin mgn-top-none mgn-btm-none text-primary-lt">Current Campaigns</h4>
          <span class="mgn-btm block text-sm text-muted">Service report of this year (updated 1 hour ago)</span>
          <div style="height:240px">
          </div>
        </div>
        <div class="col wrapper-lg w-lg bg-light dk r-r">
          <h4 class="font-thin mgn-top-none mgn-btm">Usage</h4>
          <div class="">
            <div class="">
              <span class="pull-right text-primary">60%</span>
              <span>Disk Space</span>
            </div>
            <progressbar value="60" class="progress-xs mgn-top-sm bg-white" animate="true" type="primary"></progressbar>
            <div class="">
              <span class="pull-right text-info">35%</span>
              <span>Campaigns Completed</span>
            </div>
            <progressbar value="35" class="progress-xs mgn-top-sm bg-white" animate="true" type="info"></progressbar>
          </div>
          <p class="text-muted">This information is updated every 5 minutes.</p>
        </div>
      </div>
      <!-- / Current Campaigns -->

			<!-- New Campaigns	-->
			<form name="newCampaign" class="form-validation" ng-controller="NewCampaignController as ncc" ng-submit="newCampaign.$valid && ncc.campaignSubmit(ncc.form)" novalidate>
				<div class="panel hbox hbox-auto-xs no-border">
        <div class="col wrapper-lg w-lg bg-light dk r-r">
          <h4 class="font-thin mgn-top-none mgn-btm">Campaign</h4>
          <div>
            <div>
              <span class="pull-right text-info">{{ncc.form.type}}</span>
              <span>Type</span>
            </div>
            <div>
              <span class="pull-right text-info">{{ncc.form.schedule.date}}</span>
              <span>Schedule</span>
            </div>
						<div>
							<span class="pull-right text-info">{{ncc.form.status}}</span>
							<span>Status</span>
						</div>
						<div>
							<span class="pull-right text-info">{{ncc.form.search | limitTo:15}}</span>
							<span>Searches</span>
						</div>
						<div>
							<span class="pull-right text-info">{{ncc.form.client}}</span>
							<span>Client</span>
						</div>
						<div>
							<span>Description</span>
						</div>
						<div class="col-md-12">
							<span class="text-info">{{ncc.form.description}}</span>
						</div>
          </div>
        </div>
				<div class="col wrapper">
					<h4 class="font-thin mgn-top-none mgn-btm-none text-primary-lt">New Campaign</h4>
          <span class="mgn-btm block text-sm text-muted">Please fill out form completely before sumbitting.</span>
					<div>
						
						<div class="form-group row">
							<label class="col-sm-1 font-bold control-label">Type</label>
							<div class="col-sm-1">
								<label class="i-switch mgn-top-xs mgn-rgt">
									<input type="checkbox" ng-model="ncc.form.type" ng-init="ncc.form.type = true">
									<i></i>
								</label>
							</div>
							<div class="col-sm-10">
								<span ng-if="ncc.form.type">
									Schedule
								</span>
								<span ng-if="!ncc.form.type">
									One Time
								</span>
							</div>
						</div>
					
						<div class="form-group" ng-if='ncc.form.type'>
							<label for="start">Pick date range</label>
							<input  ui-jq="daterangepicker" ui-options="{
                format: 'YYYY-MM-DD',
                startDate: '2015-01-01',
                endDate: '2015-12-31'
              }" class="form-control w-md" ng-model="ncc.form.schedule.date">
						</div>
						<div class="form-group" ng-if='ncc.form.type'>
							<div class="checkbox">
								<label class="checkbox">
								<input id="end" type="checkbox" ng-model="ncc.form.schedule.noEnd">
									Never
								</label>
							</div>
						</div>

						<div class="form-group row">
							<label for="status" class="col-sm-1 control-label font-bold">Status</label>
							<div class="col-sm-1">
								<label class="i-switch mgn-top-xs mgn-rgt-lg">
									<input type="checkbox" ng-model="ncc.form.status" ng-init="ncc.form.status = true">
									<i></i>
								</label>
							</div>
							<div class="col-sm-10">
								<span ng-if="ncc.form.status">Enabled</span>
								<span ng-if="!ncc.form.status">Disabled</span>
							</div>
						</div>

						<div class="form-group">
							<span class="pull-right">Hold Ctrl or &#8984; while clicking to select multiples.</span>
							<label for="searches" class="font-bold">
								Searches
							</label>
							<select multiple class="form-control" ng-model="ncc.form.search" row="5" required>
								<option value="1">Search Option 1</option>
								<option value="2">Search Option 2</option>
								<option value="3">Search Option 3</option>
								<option value="4">Search Option 4</option>
								<option value="5">Search Option 5</option>
								<option value="6">Search Option 6</option>
							</select>
						</div>

						<div class="form-group">
							<label for="client" class="font-bold">Client</label>
							<select id="client" class="form-control" ng-model="ncc.form.client" required>
								<option value="" selected disabled>Select a client....</option>
								<option value="Client 1">Client 1</option>
								<option value="Client 2">Client 2</option>
								<option value="Client 3">Client 3</option>
								<option value="Client 4">Client 4</option>
								<option value="Client 5">Client 5</option>
							</select>
						</div>
						
						<div class="form-group">
							<label for="description" class="font-bold">Description</label>
							<textarea class="form-control" row="3" ng-model="ncc.form.description"></textarea>
						</div>
						<div ng-if="newCampaign.$valid">Form is valid!</div>
						<div ng-if="!newCampaign.$valid">Form is not valid!</div>
						<button class="btn btn-success" type="submit">Submit</button>

					</div>
				</div>
			</form>
			</div>
			<!-- / New Campaigns -->
			
		</div>
	</div>
</div>