<div class="hbox hbox-auto-xs hbox-auto-sm">
	
  <!-- Clients -->
  <div class="col">

		<div data-ng-include="'/tplt/page-header.html'"></div>
  
		<div class="wrapper-md">

			<!-- Current Clients -->
      <div class="panel hbox hbox-auto-xs no-border" ng-controller="CurrentClientsController">
        <div class="col wrapper">
          <h4 class="font-thin mgn-top-none mgn-btm-none text-primary-lt">Current Clients</h4>
          <span class="mgn-btm block text-sm text-muted">List of current clients.</span>
          <div style="height:240px">
          </div>
        </div>
      </div>
      <!-- / Current Clients -->

			<!-- New Clients	-->
			<form class="form-horizontal" name="newClient" ng-controller="NewClientController as ncc" ng-submit="ncc.clientSubmit(info)" novalidate>
				<div class="panel hbox hbox-auto-xs no-border">
        
				<div class="col wrapper">
					<h4 class="font-thin mgn-top-none mgn-btm-none text-primary">Add New Client</h4>
          <span class="mgn-btm block text-sm text-muted">Please fill out this form completely.</span>
					<div>
						
						<div class="form-group">
							<label for="name" class="col-sm-2 control-label">Name</label>
							<div class="col-sm-10">
								<input id="name" type="text" class="form-control" ng-model="ncc.form.name">
							</div>
						</div>

						<div class="form-group">
							<label for="add1" class="col-sm-2 control-label">Address 1</label>
							<div class="col-sm-10">
								<input id="add1" type="text" class="form-control" ng-model="ncc.form.address">
							</div>
						</div>
					
						<div class="form-group">
							<label for="add2" class="col-sm-2 control-label">Address 2</label>
							<div class="col-sm-10">
								<input id="add2" type="text" class="form-control" ng-model="ncc.form.address_addtl" placeholder="(Optional)">
							</div>
						</div>
					
						<div class="form-group">
							<label for="bphone" class="col-sm-2 control-label">Business Phone</label>
							<div class="col-sm-10">
								<input id="bphone" type="text" class="form-control" ng-model="ncc.form.bizPhone">
							</div>
						</div>
					
						<div class="form-group">
							<label for="cname" class="col-sm-2 control-label">Contact Name</label>
							<div class="col-sm-10">
								<input id="cname" type="text" class="form-control" ng-model="ncc.form.conName">
							</div>
						</div>
					
						<div class="form-group">
							<label for="cphone" class="col-sm-2 control-label">Contact Phone</label>
							<div class="col-sm-10">
								<input id="cphone" type="text" class="form-control" ng-model="ncc.form.conPhone">
							</div>
						</div>
					
						<div class="form-group">
							<label for="cemail" class="col-sm-2 control-label">Contact Email</label>
							<div class="col-sm-10">
								<input id="cemail" type="email" class="form-control" ng-model="ncc.form.conEmail">
							</div>
						</div>
					
						<div class="form-group">
							<label for="pmethod" class="col-sm-2 control-label">Payment Method</label>
							<div class="col-sm-10">
								<select id="pmethod" class="form-control" ng-model="ncc.form.payMethod">
									<option value="" disabled selected>Select a payment method....</option>
									<option value="prepay">Prepay</option>
									<option value="contract">Contract</option>
									<option value="bill">Bill</option>
								</select>
							</div>
						</div>
					
						<div class="form-group">
							<label for="pcycle" class="col-sm-2 control-label">Payment Cycle</label>
							<div class="col-sm-10">
								<select id="pcycle" class="form-control" ng-model="ncc.form.payCycle">
									<option value="" disabled selected>Select a payment cycle....</option>
									<option value="daily">Daily</option>
									<option value="weekly">Weekly</option>
									<option value="monthly">Monthly</option>
									<option value="quarterly">Quarterly</option>
									<option value="bi-annually">Bi-Annually</option>
									<option value="annually">Annually</option>
								</select>
							</div>
						</div>
						
						<div class="col-sm-offset-2">
							<button class="btn btn-success" type="submit">Submit</button>
						</div>

					</div>
				</div>
			</form>
			</div>
			<!-- / New Clients -->
			
		</div>
	</div>
</div>