<div class="hbox hbox-auto-xs hbox-auto-sm">
	<div class="col">
		<div ng-include="'/tplt/page-header.html'"></div>
		<div class="wrapper-md">
			<div class="panel hbox hbox-auto-xs no-border">

				<h4 class="font-thin mgn-top-none mgn-btm-none text-primary-lt mgn-lft-sm mgn-top-md">Quota Requests</h4>
				<span class="mgn-btm block text-sm text-muted mgn-lft-sm">This list is updated every 5 minutes</span>

				<table class="table table-striped">
					<thead>
						<tr>
							<td>Client Name</td>
							<td>Current Quota</td>
							<td>Requested Quota</td>
							<td>Options</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="client in clients">
							<td>{{ client.name || 'empty' }}</td>
							<td>{{ client.curQuota || 'empty' }}</td>
							<td>{{ client.reqQuota || 'empty' }}</td>
							<td><a href class="btn btn-default btn-sm">Accept</a> <a href class="btn btn-danger btn-sm">Decline</a></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>
