<div class="hbox hbox-auto-xs hbox-auto-sm">
	
  <!-- Search URLs -->
  <div class="col">

		<div data-ng-include="'/tplt/page-header.html'"></div>
  
		<div class="wrapper-md">

			<!-- Current Search URLs -->
      <div class="panel hbox hbox-auto-xs no-border" ng-controller="CurrentSearchesController">
        <div class="col wrapper">
          <h4 class="font-thin mgn-top-none mgn-btm-none text-primary-lt">Current Search URLs</h4>
          <span class="mgn-btm block text-sm text-muted">All current search URLs that are available for campaigns</span>
          <div style="height:240px">
          </div>
        </div>
      </div>
      <!-- / Current Search URLs -->

			<!-- New Search URLs	-->
			<form name="newCampaign" ng-controller="NewSearchController as nsc" ng-submit="nsc.searchSubmit(nsc.form)" novalidate>
				<div class="panel hbox hbox-auto-xs no-border">

				<div class="col wrapper">
					<h4 class="font-thin mgn-top-none mgn-btm-none text-primary-lt">New Search</h4>
          <span class="mgn-btm block text-sm text-muted">Please fill out form completely before sumbitting.</span>
					<div>
							
						<div class="form-group row">
							<label class="col-sm-12" for="module">Module</label>
							<div class="col-sm-2">
								<select id="module" class="form-control" ng-model="nsc.form.module">
									<option value="" selected disabled>Select a module....</option>
									<option value="4chan">4Chan</option>
									<option value="ebay">Ebay</option>
									<option value="facebook">Facebook</option>
									<option value="twitter">Twitter</option>
									<option value="reddit">Reddit</option>
									<option value="web">Web</option>
								</select>
							</div>
						</div>
						
						<div ng-switch="nsc.form.module">
							
							<div ng-switch-when="4chan">
								<div class="form-group">
									<span class="pull-right">Hold Ctrl or &#8984; while clicking to select multiples.</span>
									<label for="boards">Boards</label>
									<select multiple class="form-control" ng-model="nsc.form.boards">
										<option ng-repeat="each in boards" value="{{each.board}}">{{each.title}}</option>
									</select>
								</div>
								<div class="form-group">
									<span class="pull-right">Seperate keywords by commas (example,example)</span>
									<label for="keywords">Keywords</label>
									<input id="keywords" class="form-control" type="text" ng-model="nsc.form.keywords">
								</div>
								<div class="form-group">
									<label for="frequency" class="control-label">Frequency</label>
									<div id="frequency" class="row">
										<div class="col-sm-2">
											<select class="form-control" ng-model="nsc.form.frequency.interval">
												<option value="" disabled selected>Interval....</option>
												<option value="1">One Time</option>
												<option value="2">Daily</option>
												<option value="3">Weekly</option>
												<option value="4">Monthly</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							
							<div ng-switch-when="ebay">
								<div class="form-group">
									<span class="pull-right">Seperate keywords by commas (example,example)</span>
									<label for="keywords">Keywords</label>
									<input id="keywords" class="form-control" type="text" ng-model="nsc.form.keywords">
								</div>
								<div class="form-group">
									<label for="frequency" class="control-label">Frequency</label>
									<div id="frequency" class="row">
										<div class="col-sm-2">
											<select class="form-control" ng-model="nsc.form.frequency.interval">
												<option value="" disabled selected>Interval....</option>
												<option value="6">6 Hours</option>
												<option value="12">12 Hours</option>
												<option value="24">24 Hours</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							
							<div ng-switch-when="facebook">
								<div class="form-group">
									<span class="pull-right">Seperate keywords by commas (example,example)</span>
									<label for="keywords">Keywords</label>
									<input id="keywords" class="form-control" type="text" ng-model="nsc.form.keywords">
								</div>
								<div class="form-group">
									<span class="pull-right">Seperate hashtags by commas (example,example)</span>
									<label for="hashtags">Hashtags</label>
									<input id="hashtags" class="form-control" type="text" ng-model="nsc.form.hashtags">
								</div>								
								<div class="form-group">
									<label for="frequency" class="control-label">Frequency</label>
									<div id="frequency" class="row">
										<div class="col-sm-2">
											<select class="form-control" ng-model="nsc.form.frequency.interval">
												<option value="" disabled selected>Interval....</option>
												<option value="6">6 Hours</option>
												<option value="12">12 Hours</option>
												<option value="24">24 Hours</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							
							<div ng-switch-when="reddit">
								<div class="form-group">
									<span class="pull-right">Hold Ctrl or &#8984; while clicking to select multiples.</span>
									<label for="boards">Boards</label>
									<select multiple class="form-control" ng-model="nsc.form.boards">
										<option ng-repeat="each in reddits" value="{{each.data.url}}">{{each.data.title}}</option>
									</select>
								</div>
								<div class="form-group">
									<span class="pull-right">Seperate keywords by commas (example,example)</span>
									<label for="keywords">Keywords</label>
									<input id="keywords" class="form-control" type="text" ng-model="nsc.form.keywords">
								</div>
								<div class="form-group">
									<label for="frequency" class="control-label">Frequency</label>
									<div id="frequency" class="row">
										<div class="col-sm-2">
											<select class="form-control" ng-model="nsc.form.frequency.interval">
												<option value="" disabled selected>Interval....</option>
												<option value="6">6 Hours</option>
												<option value="12">12 Hours</option>
												<option value="24">24 Hours</option>
											</select>
										</div>
									</div>
								</div>
								
							</div>
							
							<div ng-switch-when="twitter">
								<div class="form-group">
									<span class="pull-right">Seperate keywords by commas (example,example)</span>
									<label for="keywords">Keywords</label>
									<input id="keywords" class="form-control" type="text" ng-model="nsc.form.keywords">
								</div>
								<div class="form-group">
									<span class="pull-right">Seperate hashtags by commas (example,example)</span>
									<label for="hashtags">Hashtags</label>
									<input id="hashtags" class="form-control" type="text" ng-model="nsc.form.hashtags">
								</div>								
								<div class="form-group">
									<label for="frequency" class="control-label">Frequency</label>
									<div id="frequency" class="row">
										<div class="col-sm-2">
											<select class="form-control" ng-model="nsc.form.frequency.interval">
												<option value="" disabled selected>Interval....</option>
												<option value="6">6 Hours</option>
												<option value="12">12 Hours</option>
												<option value="24">24 Hours</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							
							<div ng-switch-default>
								<div class="form-group">
									<label for="url">URL</label>
									<input id="url" class="form-control" type="text" ng-model="nsc.form.url" placeholder="http://example.com/">
								</div>
								<div class="form-group">
									<label for="frequency" class="control-label">Frequency</label>
									<div id="frequency" class="col-sm-3 input-group">
										<input class="form-control" ng-model="nsc.form.frquency" min="1" max="12" type="number">
										<label class="input-group-addon">X per day</label>
									</div>
								</div>
								<div class="form-group">
									<label for="external" class="control-label">Follow External Link Depth</label>
									<div id="external" class="row">
										<div class="col-md-2">
											<input class="form-control" ng-model="nsc.form.external" min="1" max="10" type="number">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="internal" class="control-label">Follow Internal Link Depth</label>
									<div id="internal" class="row">
										<div class="col-md-2">
											<input class="form-control" ng-model="nsc.form.internal" min="1" max="20" type="number">
										</div>
									</div>
								</div>
							</div>
							
						</div>
					
						<button class="btn btn-success" type="submit">Submit</button>

					</div>
				</div>
			</div>
			</form>
			<!-- / New Search URLs -->
			
		</div>
	</div>
</div>