<div class="hbox hbox-auto-xs hbox-auto-sm">

  <div class="col">

		<div data-ng-include="'/tplt/page-header.html'"></div>

		<div class="wrapper-md" ng-controller="UsersController">

			<div class="panel hbox hbox-auto-xs no-border">
				<div class="col wrapper">
					<h4 class="font-thin mgn-top-none mgn-btm-none text-primary-lt">Add New User</h4>
					<span class="mgn-btm block text-sm text-muted">Add new users and set their permissions here.</span>

					<form role="form" name="addUser" class="form-horizontal form-validation" ng-submit="submitUser(form)" novalidate>

						<div class="row">
							<div class="form-group">
								<label class="col-sm-2 control-label">User Name</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" ng-model="form.userName">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Password</label>
								<div class="col-sm-8">
									<input type="password" class="form-control" ng-model="form.password">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">First Name</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" ng-model="form.userInfo.firstName">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Last Name</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" ng-model="form.userInfo.lastName">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Email</label>
								<div class="col-sm-8">
									<input type="email" class="form-control" ng-model="form.userInfo.email">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">User Role</label>
								<div class="col-sm-4">
									<select class="form-control" ng-model="form.userRole">
										<option value="" disabled>Choose the user role....</option>
										<option value="admin">Admin</option>
										<option value="manager">Manager</option>
										<option value="investigator">Investigator</option>
										<option value="triage">Triage</option>
									</select>
								</div>
							</div>

							<div class="col-sm-offset-2">
								<button type="submit" class="mgn-lft-xs btn btn-primary">Submit</button>
							</div>

						</div>
					</form>

				</div>
			</div>

			<div>
				<div class="panel panel-default">

					<table st-table="users" class="table table-hover table-condensed">
						<thead>
							<tr style="font-weight: bold">
								<th>Username</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th class="text-center">Email</th>
								<th class="text-center">User Role</th>
								<th class="text-center">Options</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in users">
								<td class="v-middle">
									{{user.userName}}
								</td>
								<td class="v-middle">
									<span editable-text="user.userInfo.firstName" e-name="firstName" e-form="rowform" e-required>
										{{ user.userInfo.firstName || 'Empty' }}
									</span>
								</td>
								<td class="v-middle">
									<span editable-text="user.userInfo.lastName" e-name="lastName" e-form="rowform" e-required>
										{{ user.userInfo.lastName || 'Empty' }}
									</span>
								</td>
								<td class="text-center">
									<span editable-email="user.userInfo.email" e-name="email" e-form="rowform" e-required style="text-align: center">
										{{ user.userInfo.email || 'Empty' }}
									</span>
								</td>
								<td class="text-center">
									<span editable-select="user.userRole" e-name="userRole" e-form="rowform" e-ng-options="r.value as r.text for r in roles" e-required style="text-align: right">
										{{user.userRole}}
									</span>
								</td>
								<td class="text-center">
									<form editable-form name="rowform" onbeforesave="editUser($data, user._id.$oid)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user" style="text-align: center">
										<button type="submit" ng-disable="rowform.$waiting" class="btn btn-sm btn-info">
											<i class="glyphicon glyphicon-ok"></i>
										</button>
										<button type="submit" ng-disable="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm btn-default">
											<i class="glyphicon glyphicon-remove"></i>
										</button>
									</form>
									<div class="buttons" ng-show="!rowform.$visible">
										<button class="btn btn-sm btn-info" ng-click="rowform.$show()">
											<i class="glyphicon glyphicon-pencil"></i>
										</button>
										<button class="btn btn-sm btn-danger" ng-click="removeUser({id:user._id}, $index)">
											<i class="glyphicon glyphicon-minus"></i>
										</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>

		</div>

	</div>

</div>
