<!-- Topbar -->
<div data-ng-include="'/tplt/topbar.html'" class="app-header navbar">
</div>
<!-- / Topbar -->

<!-- Menubar -->
<div data-ng-include="'/tplt/menubar.html'" class="app-aside hidden-xs bg-black app-aside-fixed">
</div>
<!-- / Menubar -->

<!-- Content -->
<div class="content">
	<div class="app-content">
		<div ui-butterbar></div>
		<a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside"></a>
		<div class="app-content-body fade-in-up" ui-view></div>
	</div>
	<!--<div data-ng-include="'/template/dashboard.html'" class="app-content-body"></div>-->
</div>
<!-- / Content -->

<!-- Footer -->
<div class="app-footer wrapper b-t bg-light">
	<span class="pull-right">{{app.version}} <a href ui-scroll-to="app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span> &copy; 2015 Copyright.
</div>

<!-- / Footer -->
