<div class="menubar">
	<div class="navi-wrap">

		<!-- nav -->
		<nav ui-nav class="navi clearfix" ng-include="'/tplt/nav.html'"></nav>
		<!-- nav -->

		<!-- aside footer -->
		<div class="wrapper mgn-top">
			<div class="text-center-folded">
				<span class="pull-right pull-none-folded">60%</span>
				<span class="hidden-folded">Daily Quota</span>
			</div>
			<progressbar value="60" class="progress-xxs mgn-top-sm dk" type="info"></progressbar>
			<div class="text-center-folded">
				<span class="pull-right pull-none-folded">35%</span>
				<span class="hidden-folded">Weekly Quota</span>
			</div>
			<progressbar value="35" class="progress-xxs mgn-top-sm dk" type="primary"></progressbar>
		</div>
		<!-- / aside footer -->
	</div>
</div>