<!-- list -->
<ul class="nav">
	<li class="hidden-folded pads mgn-top mgn-btm-sm text-muted text-xs">
		<span>Navigation</span>
	</li>
	<li ui-sref-active="active">
		<a ui-sref="app.dashboard">
			<i class="fa fa-dashboard icon"></i>
			<span class="font-bold">Dashboard</span>
		</a>
	</li>
	<li>
		<a href class="auto">
			<span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
			<i class="fa fa-sliders icon"></i>
			<span class="font-bold">Manage</span>
		</a>
		<ul class="nav nav-sub dk">
			<li class="nav-sub-header">
				<a href>
					<span>Manage</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.manage.myInfo">
					<span>My Information</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.manage.billing">
					<span>My Billing</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.manage.users">
					<span>Users</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.manage.groups">
					<span>Groups</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.manage.quota">
					<span>Quota Increase Rquest</span>
				</a>
			</li>
		</ul>
	</li>
	
	<li>
		<a href class="auto">
			<span class="pull-right text-muted">
				<i class="fa fa-fw fa-angle-right text"></i>
				<i class="fa fa-fw fa-angle-down text-active"></i>
			</span>
			<i class="fa fa-users icon"></i>
			<span class="font-bold">Clients</span>
		</a>
		<ul class="nav nav-sub dk">
			<li class="nav-sub-header">
				<a href>
					<span>Clients</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.clients.create">
					<span>Create</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.clients.manage">
					<span>Manage</span>
				</a>
			</li>
			<li>
				<a href class="auto">
					<span class="pull-right text-muted">
						<i class="fa fa-fw fa-angle-right text"></i>
						<i class="fa fa-fw fa-angle-down text-active"></i>
					</span>
					<span>View</span>
				</a>
				<ul class="nav dker">
					<li ui-sref-active="active">
						<a ui-sref="app.clients.view.all">
							<span>All</span>
						</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="app.clients.view.near">
							<span>Near Quota</span>
						</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="app.clients.view.aging">
							<span>Aging</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href class="auto">
					<span class="pull-right text-muted">
						<i class="fa fa-fw fa-angle-right text"></i>
						<i class="fa fa-fw fa-angle-down text-active"></i>
					</span>
					<span>Sub-Manage</span>
				</a>
				<ul class="nav dker">
					<li ui-sref-active="active">
						<a ui-sref="app.clients.submanage.users">
							<span>Client Users</span>
						</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="app.clients.submanage.groups">
							<span>Client Groups</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	
	<li>
		<a href class="auto">
			<span class="pull-right text-muted">
				<i class="fa fa-fw fa-angle-right text"></i>
				<i class="fa fa-fw fa-angle-down text-active"></i>
			</span>
			<i class="fa fa-search icon"></i>
			<span class="font-bold">Searches</span>
		</a>
		<ul class="nav nav-sub dk">
			<li class="nav-sub-header">
				<a href>
					<span>Searches</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.searches.create">
					<span>Create</span>
				</a>
			</li>
			<li	ui-sref-active="active">
				<a ui-sref="app.searches.manage">
					<span>Manage</span>
				</a>
			</li>
			<li>
				<a href class="auto">
					<span class="pull-right text-muted">
						<i class="fa fa-fw fa-angle-right text"></i>
						<i class="fa fa-fw fa-angle-down text-active"></i>
					</span>
					<span>View</span>
				</a>
				<ul class="nav dker">
					<li ui-sref-active="active">
						<a ui-sref="app.searches.view.all">
							<span>All</span>
						</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="app.searches.view.global">
							<span>Global</span>
						</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="app.searches.view.client">
							<span>Client Created</span>
						</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="app.searches.view.timed">
							<span>Timed</span>
						</a>
					</li>
				</ul>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.searches.request">
					<span>Request Approval</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.searches.orphaned">
					<span>Orphaned</span>
				</a>
			</li>
		</ul>
	</li>

	<li>
		<a href class="auto">
			<span class="pull-right text-muted">
				<i class="fa fa-fw fa-angle-right text"></i>
				<i class="fa fa-fw fa-angle-down text-active"></i>
			</span>
			<i class="fa fa-database icon"></i>
			<span class="font-bold">Campaigns</span>
		</a>
		<ul class="nav nav-sub dk">
			<li class="nav-sub-header">
				<a href>
					<span>Campaigns</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.campaigns.create">
					<span>Create</span>
				</a>
			</li>
			<li	ui-sref-active="active">
				<a ui-sref="app.campaigns.manage">
					<span>Manage</span>
				</a>
			</li>
			<li>
				<a href class="auto">
					<span class="pull-right text-muted">
						<i class="fa fa-fw fa-angle-right text"></i>
						<i class="fa fa-fw fa-angle-down text-active"></i>
					</span>
					<span>View</span>
				</a>
				<ul class="nav dker">
					<li ui-sref-active="active">
						<a ui-sref="app.campaigns.view.all">
							<span>All</span>
						</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="app.campaigns.view.scheduled">
							<span>Scheduled</span>
						</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="app.campaigns.view.active">
							<span>Active</span>
						</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="app.campaigns.view.completed">
							<span>Completed</span>
						</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="app.campaigns.view.archived">
							<span>Archived</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	
	<li class="line dk"></li>
	
	<li>
		<a href class="auto">
			<span class="pull-right text-muted">
				<i class="fa fa-fw fa-angle-right text"></i>
				<i class="fa fa-fw fa-angle-down text-active"></i>
			</span>
			<i class="glyphicon glyphicon-eye-open icon"></i>
			<span class="font-bold">Investigate</span>
		</a>
		<ul class="nav nav-sub dk">
			<li class="nav-sub-header">
				<a href>
					<span>Investigate</span>
				</a>
			</li>
			<li>
				<a href class="auto">
					<span class="pull-right text-muted">
						<i class="fa fa-fw fa-angle-right text"></i>
						<i class="fa fa-fw fa-angle-down text-active"></i>
					</span>
					<span>Triage</span>
				</a>
				<ul class="nav dker">
					<li ui-sref-active="active">
						<a ui-sref="app.investigate.triage.queue">
							<span>Queue</span>
						</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="app.investigate.triage.work">
							<span>Start Work</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href class="auto">
					<span class="pull-right text-muted">
						<i class="fa fa-fw fa-angle-right text"></i>
						<i class="fa fa-fw fa-angle-down text-active"></i>
					</span>
					<span>Investigation</span>
				</a>
				<ul class="nav dker">
					<li ui-sref-active="active">
						<a ui-sref="app.investigate.investigation.queue">
							<span>Queue</span>
						</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="app.investigate.investigation.work">
							<span>Start Work</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href class="auto">
					<span class="pull-right text-muted">
						<i class="fa fa-fw fa-angle-right text"></i>
						<i class="fa fa-fw fa-angle-down text-active"></i>
					</span>
					<span>Actionable</span>
				</a>
				<ul class="nav dker">
					<li ui-sref-active="active">
						<a ui-sref="app.investigate.actionable.queue">
							<span>Queue</span>
						</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="app.investigate.actionable.work">
							<span>Start Work</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	
	<li class="line dk"></li>
	
	<li>
		<a href class="auto">
			<span class="pull-right text-muted">
				<i class="fa fa-fw fa-angle-right text"></i>
				<i class="fa fa-fw fa-angle-down text-active"></i>
			</span>
			<i class="fa fa-bar-chart icon"></i>
			<span class="font-bold">Reports</span>
		</a>
		<ul class="nav nav-sub dk">
			<li class="nav-sub-header">
				<a href>
					<span>Reports</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.reports.workforce">
					<span>Workforce</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.reports.dataset">
					<span>Datassets</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.reports.clients">
					<span>Clients</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.reports.statistics">
					<span>Statistics</span>
				</a>
			</li>
		</ul>
	</li>
	
	<li>
		<a href class="auto">
			<span class="pull-right text-muted">
				<i class="fa fa-fw fa-angle-right text"></i>
				<i class="fa fa-fw fa-angle-down text-active"></i>
			</span>
			<i class="fa fa-bell up-down icon"></i>
			<span class="font-bold">FBI</span>
		</a>
		<ul class="nav nav-sub dk">
			<li class="nav-sub-header">
				<a href>
					<span>FBI</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.fbi.md5">
					<span>MD5 Match</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.fbi.barcode">
					<span>Barcode Match</span>
				</a>
			</li>
		</ul>
	</li>
	
</ul>
<!-- / list -->
