<!-- main header -->
<div class="bg-light lter b-b wrapper-md">
	<div class="row">
		<div class="col-sm-6 col-xs-12">
			<h1 class="m-n font-thin h3 text-black">{{$state.current.title}}</h1>
			<small class="text-muted">{{$state.current.description}}</small>
		</div>
	</div>
</div>
<!-- / main header -->