<!-- navbar header -->
<div class="navbar-header bg-white-only">
	<!-- brand -->
	<a href="#/" class="navbar-brand text-lt">
		<i class="glyphicon glyphicon-eye-open"></i>
		<span class="hidden-folded mgn-lft-xs">{{app.name}}</span>
	</a>
	<!-- / brand -->
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">
	<!-- buttons -->
	<div class="nav navbar-nav hidden-xs">
		<a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
			<i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
		</a>
		<a href class="btn no-shadow navbar-btn" ui-toggle-class="show" target="#aside-user">
			<i class="icon-user fa-fw"></i>
		</a>
	</div>
	<!-- / buttons -->

	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown" dropdown>
			<a href class="dropdown-toggle clear" dropdown-toggle>
				<span class="hidden-sm hidden-md">{{user.name}}</span> <b class="caret"></b>
			</a>
			<!-- dropdown -->
			<ul class="dropdown-menu animated fadeInRight w">
				<li>
					<a ui-sref="access.signin">Logout</a>
				</li>
			</ul>
			<!-- / dropdown -->
		</li>
	</ul>
	<!-- / navbar right -->
	
</div>
<!-- / navbar collapse -->