<div class="hbox hbox-auto-xs hbox-auto-sm">

  <div class="col">

		<div data-ng-include="'/tplt/page-header.html'"></div>

		<div class="wrapper-md">
			<form name="createCampaign" class="form-validation" ng-controller="CreateCampaignController as create" ng-submit="create.campaignSubmit(create.form)" novalidate>

				<div class="panel panel-default">

					<div class="panel-heading">Create Campaign</div>

					<div class="panel-body">

						<div class="form-group row">
							<label class="col-sm-1 font-bold control-label">Type</label>
							<div class="col-sm-1">
								<label class="i-switch mgn-top-xs mgn-rgt">
									<input type="checkbox" ng-model="create.form.type" ng-init="create.form.type = false">
									<i></i>
								</label>
							</div>
							<div class="col-sm-10">
								<span ng-if="create.form.type">
									Schedule
								</span>
								<span ng-if="!create.form.type">
									One Time
								</span>
							</div>
						</div>

						<div class="form-group row mgn" ng-if='create.form.type'>
							<label class="col-sm-1 control-label">Date range</label>
							<div class="col-sm-11">
								<input ui-jq="daterangepicker" ui-options="{
										format: 'YYYY-MM-DD',
										startDate: '2013-01-01',
										endDate: '2013-12-31'
									}" class="form-control w-md" ng-model="create.form.dateRange">
							</div>
						</div>

						<div class="form-group row mgn" ng-if='create.form.type'>
							<div class="checkbox">
								<label class="checkbox">
								<input id="end" type="checkbox" ng-model="create.form.schedule.noEnd">
									Never
								</label>
							</div>
						</div>

						<div class="form-group row">
							<label for="status" class="col-sm-1 control-label font-bold">Status</label>
							<div class="col-sm-1">
								<label class="i-switch mgn-top-xs mgn-rgt-lg">
									<input type="checkbox" ng-model="create.form.status" ng-init="create.form.status = true">
									<i></i>
								</label>
							</div>
							<div class="col-sm-10">
								<span ng-if="create.form.status">Enabled</span>
								<span ng-if="!create.form.status">Disabled</span>
							</div>
						</div>

						<div class="form-group row mgn">
							<span class="pull-right">Hold Ctrl or &#8984; while clicking to select multiples.</span>
							<label for="searches" class="font-bold">
								Searches
							</label>
							<select multiple class="form-control" ng-model="create.form.search" row="5" required>
								<option value="1">Search Option 1</option>
								<option value="2">Search Option 2</option>
								<option value="3">Search Option 3</option>
								<option value="4">Search Option 4</option>
								<option value="5">Search Option 5</option>
								<option value="6">Search Option 6</option>
							</select>
						</div>

						<div class="form-group row mgn">
							<label for="client" class="font-bold">Client</label>
							<select id="client" class="form-control" ng-model="create.form.client" required>
								<option value="" selected disabled>Select a client....</option>
								<option value="Client 1">Client 1</option>
								<option value="Client 2">Client 2</option>
								<option value="Client 3">Client 3</option>
								<option value="Client 4">Client 4</option>
								<option value="Client 5">Client 5</option>
							</select>
						</div>

						<div class="form-group row mgn">
							<label for="description" class="font-bold">Description</label>
							<textarea class="form-control" row="3" ng-model="create.form.description"></textarea>
						</div>
						<div ng-if="createCampaign.$valid">Form is valid!</div>
						<div ng-if="!createCampaign.$valid">Form is not valid!</div>
						<button class="btn btn-success mgn-lft" type="submit">Submit</button>

					</div>

				</div>

			</form>
		</div>

	</div>

</div>
